body {
  height: 10000px; }

h1 {
  font-family: Segoe UI Light;
  color: white;
  text-align: center; }

.title {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  background: #008CBA;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.navi li {
  margin-left: 5px;
  margin-right: -5px;
  margin-bottom: -3px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  font-family: Segoe UI;
  font-size: 28px;
  -webkit-text-decoration: box;
  text-decoration: box;
  text-align: center;
  list-style-type: none;
  background: #00b2ed;
  padding: 7px 1px; }

.navi a {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  display: block;
  text-decoration: none; }

.navi a:visited {
  color: #555555; }

.navi a:hover {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  color: white; }

.navi li:hover {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  background: #017fa8;
  font: #FFF; }

.navi a:hover {
  font: white; }

hr {
  width: 75%; }

body {
  background-color: #555555; }

@media (min-width: 640px) {
  .title {
    background-color: #00b2ed; }
  .title:hover {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    background: #008CBA; }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .navi li {
    float: left; }
  .navi li a {
    display: block-inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 5px;
    text-decoration: none; } }
