
body{
	height: 10000px;
}



h1 
{
	font-family: Segoe UI Light;
	color: white;
	text-align: center;
	
}



.title {
	transition: 1s ease;
	background: white;
	width: 100%;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.title:hover{
	transition: 1s ease;
	background:#008CBA;
}

.navi li{
	margin-left: 5px;
	transition: 1s ease;
	font-family: Segoe UI;
	font-size: 28px;
	text-decoration: box;
	text-align: center;
	list-style-type: none;
	background: white;
	padding: 2px 1px;

} 
.navi a {
	transition: 1s ease;
	display: block;
	text-decoration: none;
}

.navi a:visited{
    color: black;
}
.navi a:hover{
	transition: 1s ease;
    color: white;
}


.navi li:hover{
	transition: 1s ease;
	background: #017fa8;
	font: #FFF;
	
}

.navi a:hover{
	font:white;
}
hr
{
	width: 75%;
}	

body
{
	background-color: #555555;
}

@media only screen and (min-width: 700px) {



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


.navi li {

    float: left;
    background-color: white;
}

.navi li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 5px;
    text-decoration: none;
}


}